.rowstyle {
    display:flex;
    margin-top:0.5em
}
.labelstyle {
    width:10em;
    font-weight:bold
}
.inputstyle {
    flex:1
}
.button {
    height:2em;
    vertical-align:center
}
.image {
    padding:2px
}
.imageborder {
    border:1px solid black
}
.left {
    float:left;
    margin:0.5em
}
.right {
    float:right;
    margin:0.5em
}
.centre {
    margin:0 auto
}
.pc10 {
    width:10%
}
.pc25 {
    width:25%
}
.pc50 {
    width:50%
}
.home-button-pc {
    width:3vw;
    height:3vw;
    position:absolute;
    top:10vh;
    left:11vw
}
.home-button-mobile {
    width:8vw;
    height:8vw;
    position:absolute;
    top:2vh;
    left:5vw
}
.back-button-pc {
    width:3vw;
    height:3vw;
    position:absolute;
    top:10vh;
    left:16vw;
    display:none
}
.back-button-mobile {
    width:8vw;
    height:8vw;
    position:absolute;
    top:2vh;
    left:15vw;
    display:none
}
.info-button-pc {
    width:3vw;
    height:3vw;
    position:absolute;
    top:10vh;
    right:11vw
}
.info-button-mobile {
    width:8vw;
    height:8vw;
    position:absolute;
    top:2vh;
    right:5vw
}
