.image {
    padding:2px
}
.imageborder {
    border:1px solid black
}
.left {
    float:left;
    margin:0.5em
}
.right {
    float:right;
    margin:0.5em
}
.centre {
    margin:0 auto
}
.pc10 {
    width:10%
}
.pc25 {
    width:25%
}
.pc50 {
    width:50%
}
